<html>
    <h3>Drugability report ({{name}})</h3>
    {%if bundle is null %}
    <p>
        Protein name could not be found.
    </p>
    {% else %}
    <p>
        Protein: <a href="{{bundle.getProtein().getUniProtURL()}}">{{bundle.getProtein().getName()}}</a>
        <br />
        {% if bundle.getProtein().getFunctionDescription() is not null %}
        Function: {{bundle.getProtein().getFunctionDescription()}}
        {% else %}
        No function specified in UniProt.
        {% endif %}
    </p>
    <h4>Known drug interactions</h4>
    {% if bundle.getAllInteractions() is empty %}
    <p>
        No known drug interactions.
    </p>
    {% else %}
    <p>
        Known drug interactions (effect: {{sign}})
        <ul>
            {% for interaction in bundle.getAllInteractionsOfSign(sign) %}
            <li><a href="{{interaction.getDrug().getDrugBankURL()}}">{{interaction.getDrug().getName()}}</a> ({{interaction.getDrugActionType().getDescription()}})</li>
            {% endfor %}
        </ul>
        ({{bundle.getAllInteractionsNotOfSign(sign).size()}} other interactions are known. See <a href="{{interaction.getProtein().getDrugBankBioDBURL()}}">DrugBank BioDB page</a> for details.)
    </p>
    {% endif %}
    <h4>Drugability predictions</h4>
    <p>
        {% if bundle.hasDrugableLigand() %}
        DrugFEATURE predicted drugable ligands:
        <table>
            <tr>
                <td>PDB ID</td>
                <td>Chain</td>
                <td>Index</td>
                <td>Ligand</td>
                <td>Score</td>
            </tr>
            {% for ligand in bundle.getDrugableLigands() %}
            <tr>
                <td><a href="{{ligand.getPDBURL()}}">{{ligand.getPDBID()}}</a></td>
                <td>{{ligand.getChain()}}</td>
                <td>{{ligand.getIndex()}}</td>
                <td>{{ligand.getLigandName()}}</td>
                <td>{{ligand.getScore()}}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        No drugable ligands predicted by DrugFEATURE.
        {% endif %}
    </p>
    <p>
        {% if bundle.getDrProdisPrediction() is not null %}
        DR.PRODIS predicts that {{bundle.getDrProdisPrediction().getCountOfBindingDrugs()}} drugs bind strongly.
        For more details, see the DR.PRODIS <a href="{{bundle.getDrProdisPrediction().getDrProdisURL()}}">details page</a>.
        (Note that all access to the DR.PRODIS web service is subject to restrictions on commercial use.
        See the <a href="http://cssb.biology.gatech.edu/repurpose">home page</a> for details.)
        {% else %}
        No DR.PRODIS prediction was found.
        {% endif %}
    {% endif %}
</html>
