<html>
    <h3>Drugability report ({{name}})</h3>
    {%if bundle is null %}
    <p>
        Protein name could not be found.
    </p>
    {% else %}
    <p>
        Protein: <a href="{{bundle.getProtein().getUniProtURL()}}">{{bundle.getProtein().getName()}}</a>
    </p>
    {% if bundle.getAllInteractions() is empty %}
    <p>
        No known drug interactions.
    </p>
    {% else %}
    <p>
        Known drug interactions (effect: {{sign}})
        <ul>
            {% for interaction in bundle.getAllInteractionsOfSign(sign) %}
            <li><a href="{{interaction.getDrug().getDrugBankURL()}}">{{interaction.getDrug().getName()}}</a> ({{interaction.getDrugActionType().getDescription()}})</li>
            {% endfor %}
        </ul>
        ({{bundle.getAllInteractionsNotOfSign(sign).size()}} other interactions are known. See <a href="{{interaction.getProtein().getDrugBankBioDBURL()}}">DrugBank BioDB page</a> for details.)
    </p>
    {% endif %}
    {% endif %}
</html>
